* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "poppins", sans-serif;
  /* text-decoration: none; */
}

body {
  color: #ededed;
  background: #080808;
  /* overflow-x: hidden; */
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100%; */
  padding: 20px 10%;
  background: #080808;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  /* background: #1e1e1e; */
}

.logo {
  position: relative;
  font-size: 25px;
  color: aqua;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  /* For slide right animation */
  opacity: 0;
  animation: slideRight 1s ease forwards;
}

.navbar a {
  display: inline-block;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
  /* For transition of navbar anchor tags */
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
  animation-delay: calc((0.2s * var(--i)));
}

.navbar a:hover {
  color: #0ef;
}

/* For slide right animation of logo-Mukul Anand */
@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

/* For animation of p tag */
@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

/* For SlideTop transition of navbar anchor tags */
@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* To animate Hi I'm and And I'm ....*/

@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.main-title h2 {
  text-align: center;
  margin-top: 110px;
  font-size: 60px;
  z-index: 1;
  margin-bottom: 70px;
}

.main-title h2 span {
  color: #0ef;
}

/* .left-about h4 span{
  font-size: 40px;
  margin-bottom: 20px;
  color: rgb(238, 0, 255);
}

.left-about h4{
  font-size: 40px;
  margin-bottom: 20px;
  color: rgb(0, 200, 255);
} */

.main-title h2 span.bg-text {
  position: absolute;
  top: 140px;
  left: 50%;
  color: #2a3435;
  z-index: -1;
  transform: translate(-50%, -50%);
  font-weight: 800;
  line-height: 1.6;
}

.outer-grid {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  /* gap: 5vw 1vw 1vw; */
  margin-left: 15vw;
  margin-right: 14vw;
}

.left-about h4 {
  font-size: 40px;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
}

.left-about p {
  font-size: 20px;
  line-height: 1.4;
  text-align: left;
  margin-bottom: 13px;
  color: aliceblue;
}



.left-about {
  opacity: 0;
  animation: slideRight 0.5s ease forwards;
  animation-delay: 0.2s;
}

.middle-about {
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
  animation-delay: 0.4s;
}

.right-about {
  opacity: 0;
  animation: slideBottom 0.5s ease forwards;
  animation-delay: 0.6s;
}







.about-container {
  margin-right: 5vw;
}

.about-item {
  width: 18vw;
  text-align: left;
  background-color: transparent;
  padding: 40px;
  font-size: 13px;
  border-right: 10px;
  border-radius: 20px;
  margin-bottom: 5vh;
  transition: background 0.5s, transform 0.5s;
  box-shadow: 1px 1px 20px #900182f7, 1px 1px 10px #0053b8f7;
}

.upper {
  height: 60vh;
}

.lower {
  height: 50vh;
}

.about-item:hover {
  background: #080808;
  color: #0ef;
  box-shadow: 0 0 30px #0ef;
  transform: translateY(-10px);
}

.abt-text p.large-text {
  font-size: 50px;
  color: rgb(0, 255, 0);
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-color: rgb(0, 255, 0);
  margin-bottom: 15px;
  font-weight: 700;
}

.no-underline {
  font-size: 50px;
  color: rgb(0, 255, 0);
  margin-bottom: 15px;
  font-weight: 700;
}

.abt-text p.small-text {
  margin-left: 50px;
  font-size: 22px;
  line-height: 1.4;
  color: rgb(255, 255, 255);
}

/* Download Button */
.btn-box {
  display: inline-block;
  padding: 12px 28px;
  background: rgb(238, 0, 255);
  border-radius: 40px;
  font-size: 20px;
  color: #000000;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 700px;
  /* To animate More about me button */
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.5s;
}

.btn-box:hover {
  box-shadow: 0 0 25px rgb(0, 247, 255);
  border: 1px solid rgb(0, 229, 255);
}

/* Skill Section */
section {
  display: flex;
  flex-wrap: wrap;
}

/* Technical Skills */
.skill-flex-land {
  display: flex;
  gap: 5vw;
}

.skill-land-head {
  margin-top: 70px;
  text-align: center;
  font-size: 60px;
  margin-bottom: -50px;
}

.skill-land-head span {
  color: #0ef;
}

.container1-land {
  width: 25vw;
  height: 500px;
  padding-top: 75px;
  margin-left: 120px;
  margin-bottom: 50px;
}

.container2-land {
  width: 25vw;
  height: 500px;
  padding-top: 210px;
  margin-bottom: 50px;
}

.container3-land {
  width: 25vw;
  height: 500px;
  padding-top: 75px;
  /* margin-left: 70px; */
  margin-bottom: 50px;
}

.heading1-land {
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 7px;
  text-decoration-thickness: 3px;
  text-decoration-color: #ff05ee;
  color: #ff05ee;
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 25px;
}

#skills-land
  > div.skill-grid-land
  > div:nth-child(2)
  > div
  > div:nth-child(1)
  > i {
  margin-top: 60px;
}

.bar-land {
  font-size: 23px;
}

.bar-land i {
  margin-top: 10px;
}

.bar-land img {
  margin-top: 10px;
  height: 23px;
}

.technical-bars-land .bar-land {
  margin-top: 40px 0;
}

.technical-bars-land .bar-land:first-child {
  margin-top: 0;
}

.technical-bars-land .bar-land:last-child {
  margin-bottom: 0;
}

.technical-bars-land .bar-land .info-land {
  margin-bottom: 5px;
}

.technical-bars-land .bar-land .info-land span {
  font-size: 17px;
  font-weight: 500;
  animation: showtext 0.5s 1s linear forwards;
}

.technical-bars-land .bar-land .progress-line-land {
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 5px;
  background-color: #ff00c1;
  animation: animate 1s cubic-bezier(0, 0, 0, 1) forwards;
  transform: scaleX(0);
  transform-origin: left;
}

/* animate animation */
@keyframes animate {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}

.technical-bars-land .bar-land .progress-line-land span {
  height: 100%;
  background-color: #0ef;
  position: absolute;
  border-radius: 10px;
  animation: animate 1.5s cubic-bezier(1, 0.2, 0.3, 1) forwards;
  transform: scaleX(0);
  transform-origin: left;
}

.technical-bars-land .bar-land .progress-line-land span:hover {
  background: rgb(30, 255, 0);
  color: #0ef;
  box-shadow: 0 0 30px #0ef;
  transform: translateY(-10px);
}

.progress-line-land.python span {
  width: 90%;
}

.progress-line-land.html span {
  width: 85%;
}

.progress-line-land.css span {
  width: 80%;
}

.progress-line-land.bootstrap span {
  width: 95%;
}

.progress-line-land.javascript span {
  width: 80%;
}

.progress-line-land.jquery span {
  width: 80%;
}

.progress-line-land.react span {
  width: 85%;
}

.progress-line-land.nodejs span {
  width: 80%;
}

.progress-line-land.sql span {
  width: 80%;
}

.progress-line-land.mongodb span {
  width: 80%;
}

.progress-line-land.django span {
  width: 85%;
}

.progress-line-land.machineLearning span {
  width: 85%;
}

.progress-line-land.python span::before {
  content: "90%";
}
.progress-line-land.html span::before {
  content: "85%";
}
.progress-line-land.css span::before {
  content: "80%";
}
.progress-line-land.bootstrap span::before {
  content: "95%";
}
.progress-line-land.javascript span::before {
  content: "80%";
}
.progress-line-land.jquery span::before {
  content: "80%";
}
.progress-line-land.react span::before {
  content: "85%";
}
.progress-line-land.nodejs span::before {
  content: "80%";
}
.progress-line-land.sql span::before {
  content: "80%";
}
.progress-line-land.mongodb span::before {
  content: "80%";
}
.progress-line-land.django span::before {
  content: "85%";
}
.progress-line-land.machineLearning span::before {
  content: "85%";
}

.progress-line-land span::before {
  position: absolute;
  content: "";
  width: 40px;
  /* display: inline-block; */
  text-align: center;
  height: 20px;
  padding-top: 5px;
  border-radius: 20px;
  border: 2px solid rgb(0, 0, 0);
  font-size: 15px;
  background: rgb(242, 255, 0);
  color: black;
  font-weight: bold;
  top: -13px;
  right: 0;
  animation: showText 0.5s linear forwards;
  opacity: 0;
}

@keyframes showText {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}

/* Professional Skills */
.heading2-land {
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 7px;
  text-decoration-thickness: 3px;
  text-decoration-color: rgb(246, 255, 0);
  color: rgb(229, 255, 0);
  margin-top: -40px;
  margin-bottom: 60px;
  font-size: 25px;
}

/* Container land 2 */

.radial-bars-land {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}
.radial-bars-land .radial-bar-land {
  width: 50%;
  height: 170px;
  margin-bottom: 10px;
  position: relative;
}

.radial-bars-land .radial-bar-land svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 120px;
  height: 160px;
}

.radial-bars-land .radial-bar-land .progress-bar-land {
  stroke-width: 10;
  stop-color: black;
  fill: transparent;
  stroke-dasharray: 502;
  stroke-dashoffset: 502;
  animation: animate-bar 1s linear forwards;
}

@keyframes animate-bar {
  100% {
    stroke-dashoffset: -1;
  }
}

.path-land {
  stroke-width: 10;
  stroke: rgb(0, 208, 255);
  fill: transparent;
  stroke-dasharray: 502;
  stroke-dashoffset: 502;
  stroke-linecap: round;
}

.path-1 {
  animation: animate-path1 1s 1s linear forwards;
}
.path-2 {
  animation: animate-path2 1s 1s linear forwards;
}
.path-3 {
  animation: animate-path3 1s 1s linear forwards;
}
.path-4 {
  animation: animate-path4 1s 1s linear forwards;
}

@keyframes animate-path1 {
  100% {
    stroke-dashoffset: 50;
  }
}

@keyframes animate-path2 {
  100% {
    stroke-dashoffset: 90;
  }
}

@keyframes animate-path3 {
  100% {
    stroke-dashoffset: 90;
  }
}

@keyframes animate-path4 {
  100% {
    stroke-dashoffset: 50;
  }
}

.radial-bar-land .percentage-land {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 17px;
  font-weight: 500;
  animation: showText 0.5s 1s linear forwards;
}

.radial-bar-land .text {
  width: 100%;
  position: absolute;
  text-align: center;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50x);
  font-size: 17px;
  font-weight: 500;
  animation: showText 0.5s 1s linear forwards;
}

/* Certificates section */
.certificate-title {
  text-align: center;
  font-size: 60px;
  margin-top: 120px;
  margin-bottom: -20px;
}

.certificate-title span {
  color: #0ef;
}

.timeline {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 5vw;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
  margin-left: 15vw;
  margin-right: 15vw;
}

.timeline div.timeline-item {
  margin-top: 20px;
  height: 500px;
  width: 30vw;
  text-align: left;
  background-color: transparent;
  font-size: 13px;
  margin-bottom: 20px;
  padding: 20px 40px;
  border-right: 10px;
  border-radius: 20px;
  transition: background 0.5s, transform 0.5s;
  box-shadow: 1px 1px 20px #012290f7, 1px 1px 40px #0053b8f7;
}

.tl-duration {
  font-size: 22px;
  margin-bottom: 10px;
  color: #0ef;
}

.timeline-item h5 {
  font-size: 26px;
  font-weight: 700;
  color: #ff00c1;
}

.timeline-item h5 span {
  font-size: 20px;
  font-weight: 600;
  color: #0ef;
}

.timeline-item p.about-cert {
  margin-top: 20px;
  line-height: 1.3;
  font-size: 20px;
  margin-bottom: 20px;
}

.timeline div.timeline-item:hover{
  background: #080808;
  /* color: #0ef; */
  box-shadow: 0 0 30px #0ef;
  transform: translateY(-10px);
}















/* Top button */
.top {
  position: fixed;
  bottom: 2.1rem;
  right: 2.1rem;
}

.top i {
  color: #000000;
  background: #0ef;
  font-size: 20px;
  padding: 10px;
  border-radius: 0.5rem;
}

/* To make it responsive */
/* Navbar */
@media (min-width: 319px) and (max-width: 920px) {
  .navbar a {
    /* display: block; */
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3s;
    /* For transition of navbar anchor tags */
    opacity: 0;
    animation: slideTop 0.5s ease forwards;
    animation-delay: calc((0.2s * var(--i)));
  }
}

/* More about me */
@media (min-width: 319px) and (max-width: 920px) {
  .outer-grid {
    display: flex;
    /* grid-template-columns: 1.5fr 1fr 1fr; */
    /* gap: 5vw 1vw 1vw; */
    flex-direction: column;
    margin-left: 15vw;
    margin-right: 14vw;
  }
  
  .main-title h2 {
    font-size: 40px;
  }

  .main-title h2 span.bg-text {
    top: 130px;
  }

  .left-about h4 {
    font-size: 30px;
  }
  
  .left-about p {
    font-size: 18px;
  }
  
  .about-item {
    width: 65vw;
    margin-top: 8vh;
  }
  
  .upper {
    height: 40vh;
  }
  
  .lower {
    height: 40vh;
  }

  
  .abt-text p.large-text {
    font-size: 40px;
  }
  
  .no-underline {
    font-size: 40px;
  }
  
  .abt-text p.small-text {
    margin-left: 50px;
    font-size: 18px;
    line-height: 1.4;
    color: rgb(255, 255, 255);
  }
  
  /* Download Button */
  .btn-box {
    font-size: 15px;
  }
}



/* Bar and radial Skills Section */
@media (min-width: 319px) and (max-width: 920px) {
  section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  /* Technical Skills */
  .skill-flex-land {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .skill-land-head {
    font-size: 50px;
  }

  .container1-land {
    width: 70vw;
    margin-left: 0px;
    margin-bottom: 0px;
  }

  .container2-land {
    margin-top: -40px;
    width: 70vw;
    margin-left: 0px;
  }

  .container3-land {
    width: 70vw;
    margin-left: 0px;
  }
}

/* For certifications list */
@media (min-width: 319px) and (max-width: 920px) {
  .certificate-title {
    text-align: center;
    font-size: 40px;
    margin-top: 120px;
    margin-bottom: -20px;
  }
  
  .timeline {
    display: flex;
    flex-direction: column;
    gap: 5vw;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    margin-left: 20vw;
  }

  .timeline div.timeline-item {
    width: 80vw;
    height: 650px;
    margin-left: -30px;
  }

  .tl-duration {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .timeline-item h5 {
    font-size: 20px;
  }
  
  .timeline-item h5 span {
    font-size: 17px;
  }
  
  .timeline-item p.about-cert {
    margin-top: 20px;
    line-height: 1.3;
    font-size: 18px;
    margin-bottom: 20px;
  }
}
