* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "poppins", sans-serif;
  /* text-decoration: none; */
}

body {
  color: #ededed;
  background: #080808;
  /* overflow-x: hidden; */
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100%; */
  padding: 20px 10%;
  background: #080808;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  /* background: #1e1e1e; */
}

.logo {
  position: relative;
  font-size: 25px;
  color: aqua;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  /* For slide right animation */
  opacity: 0;
  animation: slideRight 1s ease forwards;
}

.navbar a {
  display: inline-block;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
  /* For transition of navbar anchor tags */
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
  animation-delay: calc((0.2s * var(--i)));
}

.navbar a:hover {
  color: #0ef;
}

.home {
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background: url("./images/background-image3.jpg");
  background-size: cover;
  background-position: right;
  display: flex;
  align-items: center;
  padding: 70px 10% 0;
}

.home-content {
  max-width: 600px;
}

.home-content h1 {
  font-size: 5vw;
  font-weight: 700;
  margin: -3px 0;
  /* For slide right animation */
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}

.home-content h3 {
  font-size: 2.3vw;
  /* font-size: 35px; */
  font-weight: 700;
  margin: -3px 0;
}

.home-content h1 span {
  color: aqua;
}

.buttomAnima {
  color: #ededed;
  /* To animate slideBottom Hi I'm from India */
  opacity: 0;
  animation: slideBottom 1s ease forwards !important;
  animation-delay: 0.7s;
}

#text {
  color: rgb(249, 8, 253);
  font-family: "Young Serif", serif;
}

.home-content p {
  padding-top: 30px;
  font-size: 1.2vw;
  justify-content: center;
  /* For sliding left */
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}

.home-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 20px;
  color: #0ef;
  text-decoration: none;
  margin: 30px 15px 30px 0;
  /* To animate Social media icons */
  transition: 0.5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.home-sci a:hover {
  background: #0ef;
  color: #081b29;
  box-shadow: 0 0 20px #0ef;
}

.btn-box {
  display: inline-block;
  padding: 12px 28px;
  background: rgb(238, 0, 255);
  border-radius: 40px;
  font-size: 20px;
  color: #000000;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 700px;
  /* To animate More about me button */
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
}

.btn-box:hover {
  box-shadow: 0 0 25px rgb(0, 247, 255);
  border: 1px solid rgb(0, 229, 255);
}

/* For slide right animation of logo-Mukul Anand */
@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

/* For animation of p tag */
@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

/* For SlideTop transition of navbar anchor tags */
@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* To animate Hi I'm and And I'm ....*/
@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* About Section */
.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
}

.about-img img {
  margin-left: 20%;
  max-width: 350px;
  height: auto;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 5px #0ef, 0 0 25px #0ef, 0 0 25px #0ef, 0 0 50px #0ef;
  transform: translateY(-10px);
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2.3s;
}

.about-text h2 {
  margin-top: 40px;
  font-size: 60px;
}

.about-text h2 span {
  color: #0ef;
}

.about-text h4 {
  font-size: 29px;
  font-weight: 600;
  color: #fff;
  line-height: 1.7;
  margin-top: 15px;
}

.about-text p {
  color: aliceblue;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 3rem;
  text-align: justify;
  padding-right: 5%;
}

.about-text a {
  margin-bottom: 10%;
}

/* Eduction Section */
#education {
  color: aliceblue;
  font-size: 20px;
  line-height: 1.4;
  /* margin-top: 40px; */
  margin-bottom: 4rem;
}

.sub-education {
  text-align: center;
  font-size: 60px;
  padding-bottom: 20px;
}

.sub-education span {
  color: #0ef;
}

.container {
  padding: 90px;
}

.education-list {
  /* display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr)); */
  display: flex;
  gap: 5vw;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
}

.education-list div {
  height: 300px;
  width: 25vw;
  text-align: left;
  background-color: transparent;
  padding: 40px;
  font-size: 13px;
  border-right: 10px;
  border-radius: 20px;
  transition: background 0.5s, transform 0.5s;
  box-shadow: 1px 1px 20px #012290f7, 1px 1px 40px #0053b8f7;
}

.education-list div i {
  font-size: 50px;
  margin-bottom: 5px;
}

.education-list div h2.course {
  padding-bottom: 20px;
  font-size: 30px;
  font-weight: 500;
  color: rgb(249, 8, 253);
}

.education-list div i.toReduceSize {
  font-size: 20px;
  margin-bottom: 5px;
}

.education-list div h4.calander {
  display: inline;
}

.education-list div h4.grade {
  padding-left: 2px;
}

.education-list div:hover {
  background: #080808;
  color: #0ef;
  box-shadow: 0 0 30px #0ef;
  transform: translateY(-10px);
}

/* Skill Section */
section {
  display: flex;
  flex-wrap: wrap;
}

/* Technical Skills */
.skill-flex-land {
  display: flex;
  gap: 5vw;
}

.skill-land-head {
  text-align: center;
  font-size: 60px;
}

.skill-land-head span {
  color: #0ef;
}

.container1-land {
  width: 25vw;
  height: 500px;
  padding-top: 75px;
  margin-left: 120px;
  margin-bottom: 50px;
}

.container2-land {
  width: 25vw;
  height: 500px;
  padding-top: 210px;
  margin-bottom: 50px;
}

.container3-land {
  width: 25vw;
  height: 500px;
  padding-top: 75px;
  /* margin-left: 70px; */
  margin-bottom: 50px;
}

.heading1-land {
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 7px;
  text-decoration-thickness: 3px;
  text-decoration-color: #ff05ee;
  color: #ff05ee;
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 25px;
}

#skills-land
  > div.skill-grid-land
  > div:nth-child(2)
  > div
  > div:nth-child(1)
  > i {
  margin-top: 60px;
}

.bar-land {
  font-size: 23px;
}

.bar-land i {
  margin-top: 10px;
}

.bar-land img {
  margin-top: 10px;
  height: 23px;
}

.technical-bars-land .bar-land {
  margin-top: 40px 0;
}

.technical-bars-land .bar-land:first-child {
  margin-top: 0;
}

.technical-bars-land .bar-land:last-child {
  margin-bottom: 0;
}

.technical-bars-land .bar-land .info-land {
  margin-bottom: 5px;
}

.technical-bars-land .bar-land .info-land span {
  font-size: 17px;
  font-weight: 500;
  animation: showtext 0.5s 1s linear forwards;
}

.technical-bars-land .bar-land .progress-line-land {
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 5px;
  background-color: #ff00c1;
  animation: animate 1s cubic-bezier(0, 0, 0, 1) forwards;
  transform: scaleX(0);
  transform-origin: left;
}

/* animate animation */
@keyframes animate {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}

.technical-bars-land .bar-land .progress-line-land span {
  height: 100%;
  background-color: #0ef;
  position: absolute;
  border-radius: 10px;
  animation: animate 1.5s cubic-bezier(1, 0.2, 0.3, 1) forwards;
  transform: scaleX(0);
  transform-origin: left;
}

.technical-bars-land .bar-land .progress-line-land span:hover {
  background: rgb(30, 255, 0);
  color: #0ef;
  box-shadow: 0 0 30px #0ef;
  transform: translateY(-10px);
}

.progress-line-land.python span {
  width: 90%;
}

.progress-line-land.html span {
  width: 85%;
}

.progress-line-land.css span {
  width: 80%;
}

.progress-line-land.bootstrap span {
  width: 95%;
}

.progress-line-land.javascript span {
  width: 80%;
}

.progress-line-land.jquery span {
  width: 80%;
}

.progress-line-land.react span {
  width: 85%;
}

.progress-line-land.nodejs span {
  width: 80%;
}

.progress-line-land.sql span {
  width: 80%;
}

.progress-line-land.mongodb span {
  width: 80%;
}

.progress-line-land.django span {
  width: 85%;
}

.progress-line-land.machineLearning span {
  width: 85%;
}

.progress-line-land.python span::before {
  content: "90%";
}
.progress-line-land.html span::before {
  content: "85%";
}
.progress-line-land.css span::before {
  content: "80%";
}
.progress-line-land.bootstrap span::before {
  content: "95%";
}
.progress-line-land.javascript span::before {
  content: "80%";
}
.progress-line-land.jquery span::before {
  content: "80%";
}
.progress-line-land.react span::before {
  content: "85%";
}
.progress-line-land.nodejs span::before {
  content: "80%";
}
.progress-line-land.sql span::before {
  content: "80%";
}
.progress-line-land.mongodb span::before {
  content: "80%";
}
.progress-line-land.django span::before {
  content: "85%";
}
.progress-line-land.machineLearning span::before {
  content: "85%";
}

.progress-line-land span::before {
  position: absolute;
  content: "";
  width: 40px;
  /* display: inline-block; */
  text-align: center;
  height: 20px;
  padding-top: 5px;
  border-radius: 20px;
  border: 2px solid rgb(0, 0, 0);
  font-size: 15px;
  background: rgb(242, 255, 0);
  color: black;
  font-weight: bold;
  top: -13px;
  right: 0;
  animation: showText 0.5s linear forwards;
  opacity: 0;
}

@keyframes showText {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}

/* Professional Skills */
.heading2-land {
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 7px;
  text-decoration-thickness: 3px;
  text-decoration-color: rgb(246, 255, 0);
  color: rgb(229, 255, 0);
  margin-top: -40px;
  margin-bottom: 60px;
  font-size: 25px;
}

/* Container land 2 */

.radial-bars-land {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}
.radial-bars-land .radial-bar-land {
  width: 50%;
  height: 170px;
  margin-bottom: 10px;
  position: relative;
}

.radial-bars-land .radial-bar-land svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 120px;
  height: 160px;
}

.radial-bars-land .radial-bar-land .progress-bar-land {
  stroke-width: 10;
  stop-color: black;
  fill: transparent;
  stroke-dasharray: 502;
  stroke-dashoffset: 502;
  animation: animate-bar 1s linear forwards;
}

@keyframes animate-bar {
  100% {
    stroke-dashoffset: -1;
  }
}

.path-land {
  stroke-width: 10;
  stroke: rgb(0, 208, 255);
  fill: transparent;
  stroke-dasharray: 502;
  stroke-dashoffset: 502;
  stroke-linecap: round;
}

.path-1 {
  animation: animate-path1 1s 1s linear forwards;
}
.path-2 {
  animation: animate-path2 1s 1s linear forwards;
}
.path-3 {
  animation: animate-path3 1s 1s linear forwards;
}
.path-4 {
  animation: animate-path4 1s 1s linear forwards;
}

@keyframes animate-path1 {
  100% {
    stroke-dashoffset: 50;
  }
}

@keyframes animate-path2 {
  100% {
    stroke-dashoffset: 90;
  }
}

@keyframes animate-path3 {
  100% {
    stroke-dashoffset: 90;
  }
}

@keyframes animate-path4 {
  100% {
    stroke-dashoffset: 50;
  }
}

.radial-bar-land .percentage-land {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 17px;
  font-weight: 500;
  animation: showText 0.5s 1s linear forwards;
}

.radial-bar-land .text {
  width: 100%;
  position: absolute;
  text-align: center;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50x);
  font-size: 17px;
  font-weight: 500;
  animation: showText 0.5s 1s linear forwards;
}

/* Latest Project Section */
.main-text {
  margin-top: 150px;
}

.main-text h2 {
  font-size: 60px;
  line-height: 1;
  text-align: center;
  margin-bottom: 70px;
  margin-left: 100px;
}

.main-text h2 span {
  color: #0ef;
}

.portfolio-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.row {
  position: relative;
  width: 25vw;
  margin-left: 6vw;
  overflow: hidden;
  border: 5px solid black;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.5s, transform 0.5s;
  box-shadow: 1px 1px 20px #012290f7, 1px 1px 40px #0053b8f7;
}

.row:hover {
  background: #080808;
  color: #0ef;
  box-shadow: 0 0 30px #0ef;
  transform: translateY(-10px);
}

.row img {
  width: 100%;
  height: 300px;
  border-radius: 8px;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 25vw;
  height: 0;
  background: #000000;
  position: absolute;
  border-radius: 8px;
  left: 0%;
  bottom: 0%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 40px;
  transition: height 0.5s;
  opacity: 0.8;
}

.layer h5 {
  color: rgb(242, 0, 255);
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 15px;
}

.layer p {
  color: #fefefe;
  font-size: 1rem;
  line-height: 1;
  text-align: justify;
}

#project > div > div > div > p.tools {
  margin-top: 10px;
  font-weight: 700;
  color: rgb(0, 238, 250);
}

.layer i {
  color: #ff004f;
  margin-top: 20px;
  font-size: 20px;
  background: #ff01d9;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.row:hover img {
  transform: scale(1.1);
}

.row:hover .layer {
  height: 100%;
}

/* Contact Me Section */
.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 3rem;
  padding-left: 30px;
  margin-top: 130px;
}

.contact-text h2 {
  font-size: 90px;
  line-height: 1;
  text-align: center;
}

.contact-text h2 span {
  color: #0ef;
}

.contact-text h4 {
  margin: 15px 0;
  color: rgb(228, 228, 228);
  font-size: 20px;
  font-weight: 600;
}

.contact-text p {
  color: rgb(177, 177, 177);
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}

.contact-list {
  margin-bottom: 3rem;
}

.contact-list li {
  margin-bottom: 10px;
  display: block;
}

.contact-list i {
  display: inline-block;
  color: #0ef;
  font-size: 20px;
  font-weight: 600;
  transition: all 0.4s ease;
}

.contact-list li a:hover {
  transform: scale(1.01) translateY(-5px);
  color: #0ef;
}

.contact-icons i {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 20px;
  color: #0ef;
  text-decoration: none;
  margin: 0 15px 30px 0;
  transition: 0.5s ease;
  opacity: 0;
  animation: slideRight 15 ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.contact-icons i:hover {
  background: #0ef;
  color: #000000;
  box-shadow: 0 0 20px #0ef;
}

.contact-form form {
  position: relative;
}

.contact-form form input,
form textarea {
  border: none;
  outline: none;
  width: 90%;
  padding: 18px;
  background: #555557;
  color: #000000;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}

.contact-form textarea {
  resize: none;
  height: 220px;
}

.contact-form form .send {
  display: inline-block;
  padding: 10px 140px;
  background: #0ef;
  border-radius: 40px;
  margin-top: 20px;
  font-size: 18px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.5s;
  box-shadow: 0 0 5px #0ef;
}

.contact-form form .send:hover {
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 30px cyan;
}

.last-text {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  background: rgb(7, 85, 91);
  font-weight: 300;
  margin-top: 30px;
}

.last-text span.fname {
  color: #ff00c1;
}

.last-text span.name {
  color: #0ef;
}

.top {
  position: fixed;
  bottom: 2.1rem;
  right: 2.1rem;
}

.top i {
  color: #000000;
  background: #0ef;
  font-size: 20px;
  padding: 10px;
  border-radius: 0.5rem;
}

/* To make it responsive for mobile screen */
/* Navbar */
@media (min-width: 319px) and (max-width: 920px) {
  .navbar a {
    font-size: 20px;
  }
}

/* For home section */
@media (min-width: 319px) and (max-width: 920px) {
  .home {
    background: none;
  }

  #home > div > h1.buttomAnima {
    margin-top: -10px;
    margin-bottom: 20px;
  }

  .home-content h1 {
    font-size: 40px;
    font-weight: 500;
    margin-top: -20px;
  }

  .home-content h3 {
    font-size: 25px;
    /* font-size: 35px; */
    font-weight: 700;
    margin: -3px 0;
  }

  .home-content p {
    padding-top: 22px;
    font-size: 18px;
    font-weight: 500;
    text-align: justify;
  }

  .home-sci a {
    width: 30px;
    height: 30px;
  }

  .btn-box {
    font-size: 15px;
  }
}

/* For About section */
@media (min-width: 319px) and (max-width: 920px) {
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-img img {
    width: 60vw;
    height: 45vh;
    justify-content: center;
    align-items: center;
    margin-top: -230px;
    margin-left: 0;
  }

  .about-text h2 {
    margin-top: 0px;
    font-size: 40px;
    text-align: center;
  }

  .about-text h4 {
    font-size: 20px;
    padding-left: 5%;
  }

  .about-text p {
    font-size: 15px;
    padding: 5%;
  }

  .about-text a {
    margin-left: 5%;
    margin-bottom: 0;
  }
}

/* For education list */
@media (min-width: 319px) and (max-width: 920px) {
  .education-list {
    display: flex;
    flex-direction: column;
    gap: 5vw;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
  }

  .education-list div {
    width: 70vw;
    margin-left: -30px;
  }

  .sub-education {
    font-size: 40px;
  }
}

/* Skill Section */
@media (min-width: 319px) and (max-width: 920px) {
  section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  /* Technical Skills */
  .skill-flex-land {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .skill-land-head {
    font-size: 50px;
  }

  .container1-land {
    width: 70vw;
    margin-left: 0px;
    margin-bottom: 0px;
  }

  .container2-land {
    margin-top: -40px;
    width: 70vw;
    margin-left: 0px;
  }

  .container3-land {
    width: 70vw;
    margin-left: 0px;
  }
}

/* Latest Project Section */
@media (min-width: 319px) and (max-width: 920px) {
  .main-text h2 {
    font-size: 35px;
    margin-left: 0px;
  }

  .portfolio-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
  }

  .row {
    width: 70vw;
    height: 400px;
    margin-bottom: 6vh;
    margin-left: 0px;
  }

  .layer {
    width: 70vw;
  }
}

/* For contact me Section */
@media (min-width: 319px) and (max-width: 920px) {
  .contact {
    display: flex;
    flex-direction: column;
  }

  .contact-text h2 {
    font-size: 40px;
    margin-top: -80px;
  }

  .contact-text p {
    font-size: 15px;
    width: 90%;
  }

  .contact-form form input,
  form textarea {
    padding: 10px;
  }

  .contact-form textarea {
    height: 120px;
  }
}
